:root{
    --main-color: #F5E9D7;
    --secondary-color: #A0855E;
    --primary-font-color: #636363;
    --secondary-font-color:#191919;
    --primary-font-size: 60px;
    --primary-hover-color:#846e4e;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    position: relative;
}


.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}






#login{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    
    padding: 150px;
    color: var(--primary-font-color);
    border-radius: 15px;
    margin-top: 5%;
}



.login-items{
    margin-top: 50px;
}


#login button{
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 5px;
    padding: 10px 0px;
    color: var(--secondary-font-color);
}

#login input{
    border: none;
    padding: 10px  15px;
    border-radius: 5px;
}

#login h1{
    font-size: var(--primary-font-size);
}

/*Aca termina log in*/



nav{
    position: fixed;
    top: 0;
    background-color: var(--main-color);
    color: var(--primary-font-color);
    width: 100%;
    z-index: 1000;
    height: 5%;
}




#ejecucion-section{
    display:none;
}



.card{
    background-color: var(--main-color);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    height: 390px;
    width: 300;
    margin-right: 20px;
    /* margin: 0px 50px; */
}

.card img{
    height: 100%;
    width: 100%;
}

.card p {
    margin: auto;
    background-color: var(--secondary-color);
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    
}

.card input{

    padding: 0px 0px;
}

.card button{
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    height: 50px;
    border: none;
}

#ejecucion{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}



#input{
    margin-top: 100px;
}


.ATM-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information{
    margin-top: 20px;
    background-color: var(--secondary-color);
}

button:hover{
    background-color: var(--primary-hover-color) ;
}